@page "/admin"

@model BookBuyer.Pages.Admin.IndexModel

@{
}

<html>

<head>
    <title>BookBuyer Admin Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/"/>
</head>

<body>
    @*Server-prereder can potentailly solve problems*@
    <component type="typeof(Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>