@{
    ViewData["Title"] = "Home Page";
}

@model BookBuyerViewModel

<div id="mdb-preloader" class="d-flex justify-content-center">
    <div></div>
    <div class="preloader-wrapper active">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div></div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        Buy More Books for Less Bucks :)<br />
        @*//pull in view componenet*@
        <vc:category></vc:category>
    </div>
    <div class="col-9">
        @foreach (Books b in Model.Books)
        {
            //specify model so it is then passed to partial view
            <partial name="BookSummary" model="b" />
        }
        @*see custom tag helper ref > go get all info from Pageinfo model*@
        @*deccides when dynamically building if button should be highlighted or not*@
        <div page-ref="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1 btn ">
        </div>
    </div>
</div>

